
.dialog {
  -webkit-app-region: no-drag;
}

.dialog {
  outline: none;
  user-select: none;
  box-shadow: var(--dialog-box-shadow);
  background-color: var(--dialog-body-bg-color);
  border: 1px solid var(--dialog-border-color);
  border-radius: 16px;
  padding: 0px;
  width: 500px;
}

.dialog > * {
  border-radius: 16px;
}

.dialog::backdrop {
  display: none;
}

.windows .dialog {
  border-radius: var(--control-border-radius);
}

dialog form.vertical {
  align-items: stretch;
}

.dialog {

  .icon {
    align-self: center;
  }
  
  header {
    align-self: center;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    
    .title {
      font-size: 10pt;
      line-height: 150%;
      font-weight: bold;
      text-align: center;
    }

    .text {
      font-size: 8.5pt;
      font-weight: normal;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dialog-body-bg-color);

    button {
      margin: 0 8px;
    }

  }
}
