
dialog {
  user-select: none;
  box-shadow: var(--dialog-box-shadow);
  background-color: var(--dialog-body-bg-color);
  border: 1px solid var(--dialog-border-color);
  border-radius: 16px;
  padding: 0px;
  width: 500px;
}

dialog::backdrop {
  display: none;
}

.windows dialog {
  border-radius: var(--control-border-radius);
}	

dialog header {
  font-weight: bold;
  text-align: center;
  color: var(--dialog-header-text-color);
  font-size: 10pt;
  padding: 8px;
  background-color: var(--dialog-header-bg-color);
  border-bottom: 0.5px solid var(--dialog-separator-color);
}

dialog main {
  padding: 24px;
  background-color: var(--dialog-body-bg-color);
  color: var(--dialog-body-text-color);
}

dialog footer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dialog-body-bg-color);
  border-top: 0.5px solid var(--dialog-separator-color);
}

dialog footer button {
  margin: 0 8px;
}
