
dialog.editor {
  background-color: var(--editor-body-bg-color);
  border: 1px solid var(--editor-border-color);
}

dialog.editor header {
  background-color: var(--editor-header-bg-color);
  border: none;
}

dialog.editor header {
  font-size: 10pt;
}

dialog.editor main {
  background-color: var(--editor-body-bg-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

dialog.editor footer {
  background-color: var(--editor-body-bg-color);
  border-top: none;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

dialog.editor footer button {
  margin: 0px 4px;
  font-size: 9.5pt;
}

dialog.editor form .group label,
dialog.editor form .group input,
dialog.editor form .group textarea,
dialog.editor form .group select {
  font-size: 9.5pt;
}

dialog.editor form .group label {
  min-width: 100px;
}

dialog.editor textarea {
  height: 120px;
}
