
::placeholder {
  color: var(--control-placeholder-text-color);
}

form {
  --form-font-size: 9.5pt;
}

form .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--form-font-size);
  margin: 8px;
}

form .group.top {
  align-items: flex-start;
}

form .group .subgroup {
  flex-grow: 1;
}

form .group:has(.subgroup) {
  align-items: flex-start;
  margin-bottom: 12px;
}

form .group label {
  min-width: 160px;
  margin-right: 10px;
  text-align: right;
}

form .group ul, form .group ol {
  margin-top: 0px;
}

form .group li {
  padding-top: 4px;
  padding-bottom: 4px;
}

form .group:has([required]) label:not(:empty)::after {
  content: ':*';
}

form .group label:not(:empty)::after {
  content: ':';
}

.colon-spaced form .group:has([required]) label:not(:empty)::after {
  content: '\00a0\00a0:\00a0\00a0*';
}

.colon-spaced form .group label:not(:empty)::after {
  content: '\00a0\00a0:';
}

form .group:has(.subgroup) label {
  margin-top: 4px;
}

form .group input, form .group select, form .group textarea {
  flex: 1;
  padding: 4px;
  border-radius: var(--control-border-radius);
  border: 1px solid var(--control-border-color);
  background-color: var(--control-bg-color);
  color: var(--control-text-color);
  font-size: var(--form-font-size);
  width: 100%;
}

form .group input, form .group textarea {
  width: calc(100% - 10px);
}

form .group textarea {
  background-color: var(--control-textarea-bg-color);
  scrollbar-color: var(--scrollbar-thumb-color) var(--control-textarea-bg-color);
}

form .group input:focus, form .group select:focus, form .group textarea:focus {
  outline: 2px solid #83aaf2;
}

form .group input[type=checkbox] {
  height: 14px;
  max-width: 14px !important;
}

.macos form .group input[type=checkbox] {
  outline: none;
  appearance: none;
  padding: 0;
  border-radius: 4px;
  background: var(--control-checkbox-bg-color);
}

.macos form .group input[type=checkbox]:checked {
  border: none;
  background: linear-gradient(#2991FF, #057AFF);
}

.macos form .group input[type=checkbox]:checked:after {
  position: relative;
  content: '\2713';
  color: white;
  left: 2px;
  font-size: 8pt;
  font-weight: bold;
  top: -1px;
}

form .group input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: #d1d1d1;
  height: 4px;
  padding: 0px;
  margin: 4px 0px;
  width: 100%;
}

form .group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 8pt;
  height: 16pt;
  border-radius: 4pt;
  background: white;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

form .group datalist {
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -16px;
}

form .group input[type="range"] + datalist option {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 1px;
  height: 8px;
  min-height: 0px;
  background: #a1a1a1;
  margin-top: 6px;
}

form .group span, form .group a {
  display: inline-block;
  margin-top: 4px;
  font-size: var(--form-font-size);
}

form .slidergroup {
  position: relative;
  display: inline;
  flex: 1;
  top: -3px
}

form.vertical {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);

  .header:not(:empty) {
    margin-bottom: 1rem;
  }

  &:deep() .title {
    font-size: 10pt;
    line-height: 150%;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
  }

  &:deep() .text {
    font-size: 8.5pt;
    margin-top: 12px;
    padding: 0px 32px;
    text-align: center;
  }

  &:deep() .group {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.33rem !important;
    width: 100%;

    label {
      min-width: auto !important;
      margin-left: 2px;

      &::after {
        content: '' !important;
      }
    }

    .wrapper {
      width: 100%;
    }

  }

  &:deep().buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 8px;

    button {
      box-sizing: border-box;
      width: auto !important;
      margin: 0px !important;
      padding: 4px 8px !important;
      border-radius: .3rem !important;
      box-shadow: 0px 2px 1.5px -2px rgba(0, 0, 0, .3) !important;
      font-size: 10pt !important;
      font-weight: normal !important;
      flex: 1;
    }
  }

}