
::placeholder {
  color: var(--control-placeholder-text-color);
}

form {
  --form-font-size: var(--form-normal-font-size);
}

form.medium {
  --form-font-size: var(--form-medium-font-size);
}

form.large {
  --form-font-size: var(--form-large-font-size);
}

form {
  font-size: var(--form-font-size);
}

form .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

form .group.top {
  align-items: flex-start;
}

form .group .subgroup {
  flex-grow: 1;
}

form .group:has(.subgroup) {
  align-items: flex-start;
  margin-bottom: 12px;
}

form .group label {
  min-width: 160px;
  margin-right: 10px;
  text-align: right;
}

form .group ul, form .group ol {
  margin-top: 0px;
}

form .group li {
  padding-top: 4px;
  padding-bottom: 4px;
}

form .control-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;

}

form.medium {

  .group {

    input:not([type=checkbox]):not([type=range]), select {
      margin: 0;
      padding: 0.25rem;
    }

  }

  button {
    font-size: var(--form-medium-font-size);
  }

}

form.vertical.medium {
  .group {
    margin: 0.75rem 0;
  }
}

form.large {

  button {
    font-size: var(--form-font-size);
    padding: 0.375rem 0.75rem;
  }

  .group {

    input:not([type=checkbox]):not([type=range]) {
      padding: 5px 0.25rem ;
      margin: 0.25rem 0;
    }

    select {
      padding: 0.25rem 0.25rem;
      margin: 0.25rem 0;
    }

    .control-group {
      &:has(input[type=text]), &:has(select) {
        button {
          padding-top: 6.25px;
          padding-bottom: 6.25px;
        }
      }
    }
  }

}

form .group:has([required]) label:not(:empty)::after {
  content: ':*';
}

form .group label:not(:empty)::after {
  content: ':';
}

.colon-spaced form .group:has([required]) label:not(:empty)::after {
  content: '\00a0\00a0:\00a0\00a0*';
}

.colon-spaced form .group label:not(:empty)::after {
  content: '\00a0\00a0:';
}

form .group label.no-colon::after {
  content: none !important;
}

form .group:has(.subgroup) label {
  margin-top: 4px;
}

form .group input, form .group select, form .group textarea {
  flex: 1;
  padding: 4px;
  border-radius: var(--control-border-radius);
  border: 1px solid var(--control-border-color);
  background-color: var(--control-bg-color);
  color: var(--control-text-color);
  font-size: var(--form-font-size);
  width: 100%;
}

form .group input, form .group textarea {
  width: calc(100% - 10px);
}

form .group textarea {
  background-color: var(--control-textarea-bg-color);
  scrollbar-color: var(--scrollbar-thumb-color) var(--control-textarea-bg-color);
}

form .group input:focus, form .group select:focus, form .group textarea:focus {
  outline: 2px solid #83aaf2;
}

form .group input:disabled, form .group select:disabled, form .group textarea:disabled {
  background-color: var(--control-button-disabled-bg-color);
  color: var(--control-button-disabled-text-color);
  cursor: not-allowed;
}

form .group input[type=checkbox] {
  width: 14px;
  height: 14px;
  min-width: 14px !important;
  max-width: 14px !important;
}

.macos form .group input[type=checkbox] {
  outline: none;
  appearance: none;
  padding: 0;
  border-radius: 4px;
  background: var(--control-checkbox-bg-color);
}

.macos form .group input[type=checkbox]:checked {
  border: none;
  background: linear-gradient(#2991FF, #057AFF);
}

.macos form .group input[type=checkbox]:disabled {
  background: linear-gradient(#a0a0a0, #808080);
}

.macos form .group input[type=checkbox]:checked:after {
  position: relative;
  content: '\2713';
  color: white;
  left: 2px;
  font-size: 8pt;
  font-weight: bold;
  top: -1px;
}

.macos form.large .group input[type=checkbox]:checked:after {
  top: -2.5px;
}

form .group input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: #d1d1d1;
  height: 4px;
  padding: 0px;
  margin: 4px 0px;
  width: 100%;
}

form .group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 8pt;
  height: 16pt;
  border-radius: 4pt;
  background: white;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

form .group datalist {
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: -16px;
}

form .group input[type="range"] + datalist option {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 1px;
  height: 8px;
  min-height: 0px;
  background: #a1a1a1;
  margin-top: 6px;
}

form .group span, form .group a {
  display: inline-block;
  margin-top: 4px;
  font-size: var(--form-font-size);
}

form .slider-group {
  position: relative;
  display: inline;
  flex: 1;
  top: -3px;
  margin: 0.25rem 0px;
}

form .slider-label {
  display: inline-block;
  margin: 0 8px !important;
}

form.vertical {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);

  .header:not(:empty) {
    margin-bottom: 1rem;
  }

  &:deep() .text {
    font-size: 8.5pt;
    margin-top: 12px;
    padding: 0px 32px;
    text-align: center;
  }

  &:deep() .group {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.33rem !important;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;

    &.horizontal {
      flex-direction: row !important;
      align-items: center !important;
      gap: 0.5rem !important;      
    }

    &.checkbox {
      align-items: flex-start !important;
      input {
        flex: 0 0 14px;
        padding: 0;
        margin: 0;
        margin-top: 2px;
      }
      label {
        text-align: left;
      }
    }

    label {
      min-width: auto !important;
      text-align: left;
      margin-left: 2px;

      &::after {
        content: '' !important;
      }
    }

    .wrapper {
      width: 100%;
    }

  }

}