
form .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

form .group:has(.subgroup) {
  align-items: flex-start;
  margin-bottom: 12px;
}

form .group label {
  min-width: 150px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 11pt;
  text-align: right;
}

form .group:has(.subgroup) label {
  margin-top: 4px;
}

form .group input, form .group select {
  flex: 1;
  padding: 6px;
  border: 1px solid #dad9d9;
  font-size: 11pt;
}

form .group input:focus, form .group select:focus {
  outline: 2px solid #83aaf2;
}

form .subgroup {
  font-size: 10pt;
}

form .subgroup a {
  display: inline-block;
  margin-top: 4px;
}