
form .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

form .group label {
  min-width: 150px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 11pt;
}

form .group input {
  flex: 1;
  padding: 6px;
  border: 1px solid #dad9d9;
  font-size: 11pt;
}

form .group input:focus {
  outline: 2px solid #83aaf2;
}