code, pre, code * {
  font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace !important;
  font-size: 10pt;
}

code[class=language-plaintext] {
  white-space:pre-line
}

code.hljs, code[class*=language-], pre[class*=language-] {
  word-wrap: normal;
  background: none;
  color: #fff;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing:normal
}

pre[class*=language-] {
  border-radius: .3em;
  overflow:auto
}

:not(pre) > code.hljs, :not(pre) > code[class*=language-] {
  border-radius: .3em;
  padding: .1em;
  white-space:normal
}

.hljs-comment {
  color:hsla(0, 0%, 100%, .5)
}

.hljs-meta {
  color:hsla(0, 0%, 100%, .6)
}

.hljs-built_in, .hljs-class .hljs-title {
  color:#e9950c
}

.hljs-doctag, .hljs-formula, .hljs-keyword, .hljs-literal {
  color:#2e95d3
}

.hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string {
  color:#00a67d
}

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
  color:#df3079
}

.hljs-bullet, .hljs-link, .hljs-selector-id, .hljs-symbol, .hljs-title {
  color:#f22c3d
}