
:root {

  --hightlight-color: #4a99fe;

  --sidebar-width: 450px;
  --sidebar-bg-color: #e1e0df;
  --sidebar-selected-color: #c9c9c8;
  --sidebar-logo-size: 32px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: auto;
  user-select: none;
}

code, pre, code * {
  font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace !important;
  font-size: 10pt;
}

pre.hljs {
  overflow-x: auto;
  padding: 12px;
  padding-bottom: 16px;
  overflow: auto;
}

code[class=language-plaintext] {
  white-space:pre-line
}

