
@font-face {
  font-family: 'STIX Two Math';
  src:  url(../assets/STIXTwoMath-Regular.woff2) format('woff2'),
        url(../assets/STIXTwoMath-Regular.otf) format('opentype'),
        url(../assets/STIXTwoMath-Regular.ttf) format('truetype');
}

:root {

  --background-color: #fff;
  --background-color-light: var(--background-color);
  --window-bg-color: #e0e0e0;
  --text-color: #000;
  --dimmed-text-color: #444;
  --icon-color: #5b5b5b;
  --highlight-color: #0366eb;
  --highlighted-color: #fff;
  --link-color: #0000ee;

  --control-bg-color: var(--background-color);
  --control-border-color: #d0d0d0;
  --control-border-radius: 6px;
  --control-text-color: var(--text-color);
  --control-button-border-color: #cacaca;
  --control-button-border-radius: var(--control-border-radius);
  --control-button-active-bg-color: #f2f2f2;
  --control-button-disabled-bg-color: #f2f2f2;
  --control-button-disabled-border-color: var(--control-button-border-color);
  --control-button-disabled-text-color: #c6c6c6;
  --control-textarea-bg-color: var(--background-color);
  --control-placeholder-text-color: rgb(117, 117, 117);
  --control-list-bg-color: var(--background-color);
  --control-list-border-color: #d4d4d4;
  --control-checkbox-bg-color: var(--background-color);

  --sidebar-width: 300px;
  --sidebar-bg-color: #e0e0e0;
  --sidebar-scroll-thumb-color: #888;
  --sidebar-text-color: var(--dimmed-text-color);
  --sidebar-icon-color: var(--icon-color);
  --sidebar-selected-color: #c8c8c8;
  --sidebar-search-bg-color: #d5d5d5;
  --sidebar-search-border-color: #ccc;
  --sidebar-search-icon-color: #6b6b6b;
  --sidebar-section-title-color: #919191;
  --sidebar-logo-size: 32px;

  --scrollbar-bg-color: var(--background-color-light);
  --scrollbar-thumb-color: #c2c2c2;

  --chatarea-toolbar-bg-color: #efefef;
  --chatarea-toolbar-text-color: var(--dimmed-text-color);
  --chatarea-toolbar-icon-color: var(--dimmed-text-color);

  --message-list-bg-color: var(--background-color);
  --message-list-text-color: var(--text-color);
  --message-list-tip-text-color: #888;
  --message-list-actions-text-color: #909090;
  --message-list-overflow-bg-color: var(--background-color);
  --message-list-overflow-border-color: #ccc;

  --info-panel-width: 270px;

  --create-panel-width: 300px;

  --prompt-icon-color: var(--icon-color);
  --prompt-input-bg-color: var(--message-list-bg-color);
  --prompt-input-border-color: #bbb;
  --prompt-input-text-color: var(--text-color);

  --dialog-border-color: #d0d0d0;
  --dialog-header-bg-color: #efefef;
  --dialog-header-text-color: #666;
  --dialog-body-bg-color: #ececec;
  --dialog-body-text-color: var(--text-color);
  --dialog-separator-color: #d3d3d3;

  --editor-border-color: var(--dialog-border-color);
  --editor-header-bg-color: var(--background-color);
  --editor-body-bg-color: var(--background-color);

  --tabs-header-normal-text-color: #666;
  --tabs-header-selected-bg-color: #e1e1e1;
  --tabs-header-selected-text-color: var(--highlight-color);

  --context-menu-bg-color: rgba(229, 229, 229, 96%);
  --context-menu-border-color: #b9b9b9;
  --context-menu-text-color: var(--text-color);
  --context-menu-selected-bg-color: #57a1ff;
  --context-menu-filter-bg-color: #dcdcdc;
  --context-menu-filter-text-color: var(--text-color);

  --actions-bar-bg-color: linear-gradient(to bottom, #fafafa, #f5f5f5);
  --actions-bar-border-color: #b4b4b4;
  --actions-bar-button-border-color: var(--actions-bar-border-color);
  --actions-bar-button-active-bg-color: linear-gradient(to bottom, #c0c0c0, #b5b5b5);

  --anywhere-bg-color: #eee;

  --scratchpad-bars-border-color: #ccc;
  --scratchpad-text-color: #444;
  --scratchpad-placeholder-text-color: #888;
  --scratchpad-actionbar-bg-color: rgba(255, 255, 255, 0.95);
  --scratchpad-actionbar-border-color: #ccc;
  --scratchpad-actionbar-shadow-color: rgba(0, 0, 0, 0.1);
  --scratchpad-actionbbar-active-border-color: #aaa;
  --scratchpad-actionbar-normal-icon-color: #aaa;
  --scratchpad-actionbar-disabled-icon-color: #ddd;
  --scratchpad-actionbar-hover-icon-color: #888;
  --scratchpad-actionbar-active-icon-color: #2991ff;
  --scratchpad-actionbar-active-icon-color2: #0469dc;

  --source-app-bg-color: #888;
  --source-app-text-color: #eee;

  --window-box-shadow:
    0  1px  1px  rgba(0,0,0,0.20),
    0  2px  2px  rgba(0,0,0,0.20),
    0  4px  4px  rgba(0,0,0,0.20),
    0  8px  8px  rgba(0,0,0,0.20),
    0 16px  16px rgba(0,0,0,0.20);

  --dialog-box-shadow: var(--window-box-shadow);

}

@media (prefers-color-scheme: dark) {
  
  :root {

    --background-color: #202020;
    --background-color-light: #303030;
    --window-bg-color: var(--background-color-light);
    --text-color: #e0e0e0;
    --dimmed-text-color: #e9e9e9;
    --icon-color: #9a9a9a;
    --highlight-color: rgb(11, 132, 255);
    --link-color: rgb(65, 156, 255);

    --control-bg-color: #646464;
    --control-border-color: var(--control-bg-color);
    --control-text-color: #e0e0e0;
    --control-button-border-color: var(--control-bg-color);
    --control-button-active-bg-color: #7a7a7a;
    --control-button-disabled-bg-color: #444;
    --control-button-disabled-border-color: var(--control-button-disabled-bg-color);
    --control-button-disabled-text-color: #707070;
    --control-placeholder-text-color: var(--icon-color);
    --control-list-border-color: #6e6e6e;
    --control-checkbox-bg-color: #545454;

    --sidebar-bg-color: #292929;
    --sidebar-scroll-thumb-color: var(--scrollbar-thumb-color);
    --sidebar-selected-color: var(--highlight-color);
    --sidebar-search-bg-color: #404040;
    --sidebar-search-border-color: #606060;
    --sidebar-section-title-color: var(--icon-color);

    --scrollbar-thumb-color: #787878;

    --chatarea-toolbar-bg-color: #373737;
    --chatarea-toolbar-icon-color: var(--icon-color);

    --message-list-tip-text-color: var(--text-color);
    --message-list-actions-text-color: var(--icon-color);
    --message-list-overflow-bg-color: #000;

    --prompt-input-border-color: #3c3c3c;
    --prompt-input-text-color: var(--sidebar-text-color);

    --dialog-border-color: #777;
    --dialog-header-bg-color: #373737;
    --dialog-header-text-color: #9f9f9f;
    --dialog-body-bg-color: #282828;
    --dialog-separator-color: #0f0f0f;

    --editor-header-bg-color: var(--dialog-body-bg-color);
    --editor-body-bg-color: var(--dialog-body-bg-color);

    --tabs-header-normal-text-color: #b4b4b4;
    --tabs-header-selected-bg-color: #444;
    --tabs-header-selected-text-color: rgb(17, 136, 255);

    --context-menu-bg-color: rgb(46, 46, 46, 0.96);
    --context-menu-border-color: #5c5c5c;
    --context-menu-selected-bg-color: var(--highlight-color);
    --context-menu-filter-bg-color: var(--sidebar-search-bg-color);
    --context-menu-filter-text-color: var(--sidebar-text-color);

    --actions-bar-bg-color: linear-gradient(to bottom, rgb(72, 72, 72), rgb(66, 66, 66));
    --actions-bar-border-color: #6e6e6e;
    --actions-bar-button-border-color: var(--actions-bar-border-color);
    --actions-bar-button-active-bg-color: linear-gradient(to bottom, rgb(94, 94, 94), rgb(84, 84, 84));

    --anywhere-bg-color: var(--window-bg-color);

    --scratchpad-bars-border-color: #555;
    --scratchpad-text-color: var(--text-color);
    --scratchpad-placeholder-text-color: var(--control-placeholder-text-color);
    --scratchpad-actionbar-bg-color: rgba(56, 56, 56, 0.95);
    --scratchpad-actionbar-border-color: #888;
    --scratchpad-actionbar-shadow-color: rgba(255, 255, 255, 0.0);
    --scratchpad-actionbbar-active-border-color: #bbb;
    --scratchpad-actionbar-normal-icon-color: #bbb;
    --scratchpad-actionbar-disabled-icon-color: #666;
    --scratchpad-actionbar-hover-icon-color: #eee;

    --source-app-bg-color: #fff;
    --source-app-text-color: #202020;

    --dialog-box-shadow:
      0  1px  1px  rgba(0,0,0,.25),
      0  2px  2px  rgba(0,0,0,.25),
      0  4px  4px  rgba(0,0,0,.25),
      0  8px  8px  rgba(0,0,0,.25),
      0 16px  16px rgba(0,0,0,.25);

  }
  
  [data-tint=blue], [data-tint=blue] * {

    --background-color: #12202f;
    --background-color-light: rgb(24, 40, 55);
    --window-bg-color: var(--background-color-light);
    --text-color: rgb(230, 230, 235);
    --dimmed-text-color: rgb(239, 239, 244);
    --icon-color: rgb(130, 150, 170);
    --highlight-color: rgb(10, 120, 240);
    --link-color: rgb(60, 140, 230);

    --control-bg-color: rgb(45, 65, 85);
    --control-border-color: var(--control-bg-color);
    --control-text-color: rgb(210, 220, 230);
    --control-button-border-color: var(--control-bg-color);
    --control-button-border-radius: var(--control-border-radius);
    --control-button-active-bg-color: rgb(75, 95, 115);
    --control-button-disabled-bg-color: rgb(35, 55, 75);
    --control-button-disabled-border-color: var(--control-button-disabled-bg-color);
    --control-button-disabled-text-color: var(--icon-color);
    --control-textarea-bg-color: var(--background-color);
    --control-placeholder-text-color: var(--icon-color);
    --control-list-bg-color: var(--background-color);
    --control-list-border-color: rgb(100, 100, 100);
    --control-checkbox-bg-color: rgb(60, 80, 100);

    --sidebar-bg-color: var(--window-bg-color);
    --sidebar-text-color: var(--text-color);
    --sidebar-scroll-thumb-color: var(--scrollbar-thumb-color);
    --sidebar-icon-color: var(--icon-color);
    --sidebar-selected-color: var(--highlight-color);
    --sidebar-search-bg-color: rgb(64, 74, 84);
    --sidebar-search-border-color: rgb(76, 96, 116);
    --sidebar-section-title-color: var(--icon-color);

    --scrollbar-bg-color: var(--background-color-light);
    --scrollbar-thumb-color: rgb(100, 110, 120);

    --chatarea-toolbar-bg-color: rgb(40, 50, 65);
    --chatarea-toolbar-text-color: var(--text-color);
    --chatarea-toolbar-icon-color: var(--text-color);

    --message-list-bg-color: var(--background-color);
    --message-list-text-color: var(--text-color);
    --message-list-tip-text-color: var(--text-color);
    --message-list-actions-text-color: var(--icon-color);
    --message-list-overflow-bg-color: rgb(10, 20, 50);

    --prompt-icon-color: var(--icon-color);
    --prompt-input-bg-color: var(--message-list-bg-color);
    --prompt-input-border-color: rgb(60, 70, 90);
    --prompt-input-text-color: var(--sidebar-text-color);

    --dialog-border-color: rgb(86, 86, 96);
    --dialog-header-bg-color: rgb(40, 50, 65);
    --dialog-header-text-color: rgb(180, 180, 190);
    --dialog-body-bg-color: var(--background-color-light);
    --dialog-body-text-color: var(--text-color);
    --dialog-separator-color: rgb(20, 20, 30);

    --editor-border-color: var(--dialog-border-color);
    --editor-header-bg-color: var(--dialog-body-bg-color);
    --editor-body-bg-color: var(--dialog-body-bg-color);

    --tabs-header-normal-text-color: rgb(170, 170, 180);
    --tabs-header-selected-bg-color: rgb(58, 68, 78);
    --tabs-header-selected-text-color: rgb(7, 126, 246);

    --context-menu-bg-color: rgba(24, 40, 55, 0.96);
    --context-menu-border-color: rgb(70, 80, 90);
    --context-menu-text-color: var(--text-color);
    --context-menu-selected-bg-color: var(--highlight-color);
    --context-menu-filter-bg-color: var(--sidebar-search-bg-color);
    --context-menu-filter-text-color: var(--sidebar-text-color);

    --actions-bar-bg-color: linear-gradient(to bottom, rgb(61, 71, 81), rgb(55, 65, 75));
    --actions-bar-border-color: rgb(100, 110, 120);
    --actions-bar-button-border-color: var(--actions-bar-border-color);
    --actions-bar-button-active-bg-color: linear-gradient(to bottom, rgb(83, 93, 103), rgb(73, 83, 93));

    --anywhere-bg-color: var(--window-bg-color);

    --scratchpad-bars-border-color: #555;
    --scratchpad-text-color: var(--text-color);
    --scratchpad-placeholder-text-color: var(--control-placeholder-text-color);
    --scratchpad-actionbar-bg-color: rgba(46, 56, 66, 0.95);
    --scratchpad-actionbar-border-color: #789;
    --scratchpad-actionbar-shadow-color: rgba(255, 255, 255, 0.0);
    --scratchpad-actionbbar-active-border-color: #99a;
    --scratchpad-actionbar-normal-icon-color: #99a;
    --scratchpad-actionbar-disabled-icon-color: #566;
    --scratchpad-actionbar-hover-icon-color: #cde;

  }

}

.windows {
  --control-border-radius: 0px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* to display emojis on widows */
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  margin: auto;
  user-select: none;
  overflow: hidden;
}

code, pre, code * {
  font-family: SF Mono,Monaco,Andale Mono,Ubuntu Mono,monospace !important;
  font-size: 10pt;
}

a, a:visited, a:active, a:focus {
  color: var(--link-color);
}

button {
  box-sizing: border-box;
  width: auto;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: var(--control-button-border-radius);
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-button-border-color);
  color: var(--control-text-color);
  box-shadow: 0px 2px 1.5px -2px rgba(0,0,0,.3);
  font-size: 9pt;
}

button:disabled {
  background-color: var(--control-button-disabled-bg-color);
  border: 1px solid var(--control-button-disabled-border-color);
  color: var(--control-button-disabled-text-color);
}

button:active:enabled {
  background-color: var(--control-button-active-bg-color);
}

button.default {
  border: none;
  background: linear-gradient(#2991FF, #057AFF);
  color: white;
}

button.default:active:enabled {
  background: linear-gradient(#2280e4, #0469dc);
  color: #e2e2e2;
}

button.destructive {
  color: red;
}

.button-group button {
  cursor: pointer;
  border-left: none;
  border-radius: 0;
  outline: none;
  margin: 0px;
}

.button-group button:not(.active) {
  background-color: var(--window-bg-color);
}

.button-group button:first-child {
  border-radius: var(--control-button-border-radius) 0 0 var(--control-button-border-radius);
  border-left: 1px solid var(--control-button-border-color);
}

.button-group button:last-child {
  border-radius: 0 var(--control-button-border-radius) var(--control-button-border-radius) 0;
}