
.list-with-actions {

  .sticky-table-container {
    background-color: var(--control-list-bg-color);
    border: 1px solid var(--control-list-border-color);
    border-bottom: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  
  &:not(:has(.sticky-table-container)) .list {
    border: 1px solid var(--control-list-border-color);
    border-bottom: 0px;
  }

  .lwa-list {
    
    scrollbar-color: var(--scrollbar-thumb-color) var(--control-list-bg-color);
    border: 1px solid var(--control-list-border-color);
    background-color: var(--control-list-bg-color);
    border-bottom: 0px;
    flex-grow: 1;

    th, td {
      border: 0px;
      border-bottom: 0.5px solid rgba(192, 192, 192, 0.5);
      border-right: 0.5px solid rgba(192, 192, 192, 0.5);
    }

    th:last-child, td:last-child {
      border-right: 0px;
    }

  }

  .sticky-table-container .lwa-list {
    border: none;
  }

  :not(table).list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: start;
  }

  .lwa-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: stretch;
    background: var(--actions-bar-bg-color);
    border: 1px solid var(--actions-bar-border-color);
    margin-top: 0px !important;

    button {
      border: 0px;
      border-right: 1px solid var(--actions-bar-button-border-color);
      border-radius: 0px;
      background-color: transparent;
      margin: 0px;
      font-size: 13.5px;
      padding-bottom: 2px;

      &.right {
        border-left: 0.8px solid var(--actions-bar-button-border-color);
        border-right: none;
        margin-left: auto;
      }

      &.lighter {
        opacity: 0.6;
      }

      &:active {
        background: var(--actions-bar-button-active-bg-color);
      }
    }
  }
}
