
.master-detail {

  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;

  .md-master {
    
    width: 200px;
    padding: 0.5rem;
    border-right: 1px solid var(--sidebar-border-color);
    background-color: color-mix(in srgb, var(--sidebar-bg-color), var(--background-color) 50%);

    .md-master-header {
      padding: 2rem 1rem;
      border-bottom: 1px solid var(--sidebar-border-color);
      margin-bottom: 1rem;
      text-align: center;
      color: var(--faded-text-color);

      .md-master-header-title {
        font-weight: 500;
        margin-bottom: 1rem;
        color: var(--dimmed-text-color);
      }
    }

    .md-master-list {
  
      width: 200px;
      overflow-y: auto;
      scrollbar-gutter: stable;
      scrollbar-color: var(--sidebar-scroll-thumb-color) var(--sidebar-bg-color);

      .md-master-list-item {

        --master-list--item-font-size: 11pt;

        flex-direction: row;
        align-items: center;
        height: auto;
        padding: 0.5rem;
        display: flex;
        border-radius: 4px;
        font-size: var(--master-list--item-font-size);
        color: var(--settings-normal-text-color);
        cursor: pointer;

        .logo {
          height: var(--master-list--item-font-size);
          margin-right: 0.5rem;
        }

        .icon {
          color: var(--settings-normal-text-color);
          width: 1.125rem;
          height: 1.125rem;
        }

        &.selected {
          background-color: var(--settings-selected-bg-color);
        }
      }

    }

    .md-master-actions button {
      box-shadow: none;
    }

  }

  .md-detail {
    flex: 1;
    padding: 1rem 1.5rem;
    background-color: inherit;
    overflow: auto;
    height: auto;
  } 

}

@media (prefers-color-scheme: dark) {
  .settings .master-detail .md-master .list .item .image {
    filter: invert(1);
  }
  .settings .master-detail .md-master .list .item .icon {
    fill: var(--text-color);
  }
}
