
.panel {
  
  padding: 2rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  margin: 8px 6px 8px 6px;
  overflow: hidden;

  .panel-header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    gap: 1rem;

    padding: 1.5rem;
    background-color: var(--window-decoration-color);
    border: 1px solid var(--control-border-color);
    border-bottom-width: 0px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: 0px !important;

    label {
      flex: 1;
    }

    .icon {
      cursor: pointer;
      width: 1.125rem;
      height: 1.125rem;
      opacity: 0.8;
      fill: var(--text-color);
    }

    .spinner {
      transform: scale(125%);
    }

    button {
      margin: 0px;
    }

  }

  &:not(:has(.panel-body)) {
    .panel-header {
      border-bottom-width: 1px;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  .panel-body, .panel-empty {
    flex-grow: 1;
    border: 1px solid var(--control-border-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .panel-body {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;

    .panel-item {

      padding: 1rem;
      font-size: 9.5pt;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 0.75px solid var(--control-border-color);
      border-radius: 0.5rem;
      gap: 1rem;

      .leading {
        text-align: center;
        flex: 0 0 2.5rem;
        font-size: 13pt;
        svg {
          width: 1.25rem;
          height: 1.25rem;
        }

        &:has(a) {
          cursor: pointer;
        }
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.375rem;
        overflow: hidden;
        cursor: pointer;
        
        .text, .subtext {
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          white-space: nowrap;
          margin: 0;
          padding: 0;
        }

        .text {
          font-size: 11pt;
          font-weight: 600;
        }

        .subtext {
          opacity: 0.6;
        }
      }

      .actions {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        gap: 0.75rem;

        > div {
          height: 1.25rem;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          opacity: 0.6;
          cursor: pointer;
        }

        .icon.error:hover {
          color: red;
        }

        .disabled {
          opacity: 0.3;
          pointer-events: none;
        }

      }

    }
  }

  .panel-empty {
    padding: 3rem 15%;
    text-align: center;
  }

}
