

.settings .description {
  font-size: 10pt;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.settings form .group label {
  min-width: 120px;
}

.settings .subgroup {
  width: 100%;
}
