
.settings {

  --settings-font-size: var(--form-large-font-size);
  --settings-menu-font-size: 11pt;

  --settings-normal-text-color: var(--tabs-header-normal-text-color);
  --settings-selected-text-color: var(--tabs-header-selected-text-color);

  --settings-normal-bg-color: transparent;
  --settings-selected-bg-color: var(--tabs-header-selected-bg-color);

  /* calculated using https://codepen.io/sosuke/pen/Pjoqqp */
  --settings-selected-icon-filter: invert(25%) sepia(97%) saturate(3446%) hue-rotate(208deg) brightness(97%) contrast(98%);

}

.settings, .settings ul, .settings ul li {
  margin: 0;
  padding: 0;
}

.split-pane.settings .sp-sidebar {
  flex-basis: 16rem;
}

.settings ul {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  padding: 0 0.5rem;
  gap: 0.5rem;

  li {

    label {
    
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px;
      background-color: var(--settings-normal-bg-color);
      color: var(--settings-normal-text-color);
          
      .icon {
        width: 15pt;
        height: 15pt;
        color: var(--settings-normal-text-color);
        filter: invert(48%) sepia(6%) saturate(86%) hue-rotate(349deg) brightness(86%) contrast(90%);
      }
      
      .title {
        font-size: var(--settings-menu-font-size);
        font-weight: 500;
      }
    
    }

    > [name="tabs"] {
      position: absolute;
      top: -9999px;
      left: -9999px;

      &:checked {

        & + label {
          
          background-color: var(--settings-selected-bg-color);
          color: var(--settings-selected-text-color);
          border-radius: 8px;
        
          .icon {
            color: var(--settings-selected-text-color);
            filter: var(--settings-selected-icon-filter);
          }
        }

      }
    }
  }

  li.separator {
    position: relative;
    text-align: center;
    margin: 0.5rem 0;
    z-index: 100;
    font-weight: 500;
    display: flex;
    align-items: center;

    &:before,
    &:after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border-color);
    }

    &:before {
      margin-right: 0.5rem;
    }

    &:after {
      margin-left: 0.5rem;
    }
  }


}

@media (prefers-color-scheme: dark) {
  .settings ul li label .icon {
    filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(167%) contrast(170%);
  }
}

.settings .tab-content {

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:has(.sliding-root) {
    position: relative;
    height: 100%;
  }
  
  .description {
    margin: 1rem 0.5rem;
  }

  main {
    
    min-width: 500px;
    align-self: center;
    padding: 2rem 4rem;

    &.sliding-pane {
     &.editor {
        padding-left: 17%;
        padding-right: 17%;
      }
    }

    .sticky-table-container {
      th, td {
        font-size: var(--settings-font-size);
      }
    }

  }

}

.settings .form {
  
  overflow: hidden;
  font-size: var(--settings-font-size);

  &.form-vertical {
    .form-field {
      textarea {
        resize: none;
      }
    }
  }

}

.settings .actions {
  margin-top: 8px;
  display: flex;
}

.settings .actions button:first-child {
  margin-left: 0px;
}

.settings .actions .right {
  flex: 1;
  text-align: right;
}
