
.sticky-table-container {
  
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--dialog-body-bg-color);

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th, td {
      border: 0.5px solid rgba(192, 192, 192, 0.5);
      background-color: var(--background-color);
      padding: 0.1875rem 0.25rem;
      white-space: nowrap;
    }

    tr.selected td {
      background-color: var(--highlight-color);
      color: var(--highlighted-color);
    }

    th {
      font-weight: normal;
      text-align: left;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .enabled, .icon, .shortcut {
      text-align: center;
    }

    td.enabled {
      width: 1rem;
    }
  
  }

}


.windows .sticky-table-container td.icon {
  font-family: 'NotoColorEmojiLimited';
}
