
.sticky-table-container {
  
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--dialog-body-bg-color);

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th, td {
      border: 0.5px solid rgba(192, 192, 192, 0.5);
      background-color: var(--background-color);
      white-space: nowrap;
      font-size: 9.5pt;
      padding: 2px 4px;
    }

    tr.selected td {
      background-color: var(--highlight-color);
      color: var(--highlighted-color);
    }

    th {
      font-size: 9pt;
      font-weight: normal;
      text-align: left;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    td.icon, td.shortcut {
      text-align: center;
    }

    td input[type=checkbox] {
      width: 12px;
      height: 12px;
    }
  
  }

}

.windows .sticky-table-container td.icon {
  font-family: 'NotoColorEmojiLimited';
  font-size: 9pt;
}

