
.alert-confirm {
  border: 1px solid transparent !important;
  background-image: linear-gradient(#2991FF, #057AFF) !important;
  color: white !important;
}

.alert-confirm:active {
  background-image: linear-gradient(#2280e4, #0469dc) !important;
  color: #e2e2e2 !important;
}

.alert-neutral {
  border: 1px solid transparent !important;
  background-color: var(--control-bg-color) !important;
  color: var(--control-text-color) !important;
}

.alert-neutral:hover {
  background-image: none !important;
  background-color: var(--control-bg-color) !important;
}

.alert-neutral:active {
  background-image: none !important;
  background-color: var(--control-button-active-bg-color) !important;
}

.alert-danger {
  border: 1px solid transparent !important;
  background-color: var(--control-bg-color) !important;
  color: red !important;
}

.alert-danger:hover {
  background-image: none !important;
  background-color: var(--control-bg-color) !important;
}

.alert-danger:active {
  background-image: none !important;
  background-color: var(--control-button-active-bg-color) !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: var(--window-bg-color);
  border-radius: 8px;
  max-width: 260px;
  padding: 26px 16px 16px 16px;
  box-shadow: 
    0 1px  1px  1px  rgba(0,0,0,0.06), 
    0 2px  2px  2px  rgba(0,0,0,0.06), 
    0 4px  4px  4px  rgba(0,0,0,0.06), 
    0 8px  8px  8px  rgba(0,0,0,0.06), 
    0 16px 16px 16px rgba(0,0,0,0.06),
    0 24px 24px 24px rgba(0,0,0,0.06);
}

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
  background-color: transparent;
}

div:where(.swal2-container) div:where(.swal2-icon) {
  border: none;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

div:where(.swal2-container) .swal2-icon-content img {
  width: 60px;
  height: 60px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  text-align: center;
  color: var(--text-color);
  font-size: 10pt;
  line-height: 150%;
  font-weight: bold;
  margin-top: 12px;
}

div:where(.swal2-container) .swal2-html-container {
  text-align: center;
  color: var(--window-bg-color);
  font-size: 9pt;
  line-height: 150%;
}

div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) textarea:where(.swal2-textarea) {
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--control-bg-color) !important;
  border: 1px solid var(--control-border-color) !important;
  border-radius: var(--control-border-radius) !important;
  color: var(--control-text-color) !important;
  font-size: 10pt;
  box-shadow: none;
}

div:where(.swal2-container) input:where(.swal2-input):focus, div:where(.swal2-container) input:where(.swal2-file):focus, div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
  box-shadow: none;
  outline: 1px solid #83aaf2;
}

div:where(.swal2-container) .swal2-input {
  height: auto;
  padding: 2px;
}

div:where(.swal2-container) div:where(.swal2-actions) {
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 16px;
  gap: 8px;
}

div:where(.swal2-container) div:where(.swal2-actions):has(> .swal2-deny[style="display: inline-block;"]) {
  flex-direction: column;
}

div:where(.swal2-container) button:where(.swal2-styled) {
  box-sizing: border-box;
  width: auto !important;
  margin: 0px !important;
  padding: 4px 8px !important;
  border-radius: .3rem !important;
  border: 1px solid #cacaca !important;
  box-shadow: 0px 2px 1.5px -2px rgba(0,0,0,.3) !important;
  font-size: 10pt !important;
  font-weight: normal !important;
  flex: 1;
}

div:where(.swal2-container) div:where(.swal2-actions):has(> .swal2-deny[style="display: inline-block;"]) button:where(.swal2-styled) {
  width: 100% !important;
}

div:where(.swal2-container) div:where(.swal2-actions):has(> .swal2-deny[style="display: inline-block;"])  button:where(.swal2-styled):nth-child(4) {
  margin-top: 12px !important;
}
