
.tabs, .tabs ul {
  margin: 0;
  padding: 0;
}

.tabs ul {
  display: flex;
  justify-content: center;
}

.tabs .tab {
  display: block;
}

.tabs .tab>[name="tabs"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  display: block;
  cursor: pointer;
  position: relative;
  color: var(--tabs-header-normal-color);
}

.tabs .content {
  display: none;
}

.tabs .tab>[name="tabs"]:checked+label {
  color: var(--tabs-header-selected-color);
}

.dialog:has(.tabs) header {
  border-bottom: none;
}

.dialog:has(.tabs) main {
  padding: 0;
}

.dialog .tabs ul {
  padding: 8px;
  background-color: var(--dialog-header-bg-color);
  border-bottom: 0.5px solid var(--dialog-separator-color);
}
