
.message {
  display: flex;
  margin-bottom: 32px;
}

.message .body, .message .actions {
  margin: 0px 32px; 
}

.message .text {
  user-select: text;
}

.message .body.size1 .text {
  font-size: 9pt;
  line-height: 11pt;
}

.message .body.size2 .text {
  font-size: 10pt;
  line-height: 12.5pt;
}

.message .body.size3 .text {
  font-size: 11pt;
  line-height: 14pt;
}

.message .body.size4 .text {
  font-size: 12pt;
  line-height: 15.5pt;
}

.message .body.size5 .text {
  font-size: 13pt;
  line-height: 17pt;
}

.message .body .text pre.hljs code.hljs {
  white-space: pre-wrap !important;
}

.message .body .text pre.hljs {
  overflow-x: auto;
  padding: 12px;
  padding-bottom: 16px;
  overflow: auto;
}

.message .body .text pre.hljs code[class=language-plaintext] {
  white-space: pre-wrap;
}

.message .actions {
  display: none;
}

.message:hover {
  margin-bottom: 0px !important;
}

.message:hover .actions {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message .action {
  cursor: pointer;
  color: #8e8e93;
  font-size: 9pt;
}

.message .attachment, .message .image {
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
}

.message .attachment {
  max-width: 200px;
}

.message .image-container {
  position: relative;
  width: 400px;
}

.message img {
  background-image: url(https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png);
}

.message .download {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.66);
  top: 24px;
  right: 12px;
  cursor: pointer;
  font-size: 10pt;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.message .image-container:hover .download {
  display: block;
}