
.message {
  display: flex;
  margin-bottom: 32px;
}

.message .image-container {
  margin-bottom: 12px;
}

.message .body, .message .actions {
  margin: 0px 32px; 
}

.message .body {
  overflow-wrap: anywhere;
}

.message .body * {
  line-height: 1.3;
}

.message .body pre.hljs {
  line-height: 1.5;
}

.message .body .text pre {
  white-space: pre-wrap !important;
}

.message .text {
  user-select: text;
}

.messages.size1 .variable-font-size, .messages.size1 .variable-font-size * {
  font-size: 10pt;
}

.messages.size1 pre.hljs, .messages.size1 code.variable-font-size, .messages.size1 .variable-font-size code, .messages.size1 code.variable-font-size * {
  font-size: 9.5pt;
}

.messages.size2 .variable-font-size, .messages.size2 .variable-font-size * {
  font-size: 11pt;
}

.messages.size2 pre.hljs, .messages.size2 code.variable-font-size, .messages.size2 .variable-font-size code, .messages.size2 code.variable-font-size * {
  font-size: 10pt;
}

.messages.size3 .variable-font-size, .messages.size3 .variable-font-size *{
  font-size: 12pt;
}

.messages.size3 pre.hljs, .messages.size3 code.variable-font-size, .messages.size3 .variable-font-size code, .messages.size3 code.variable-font-size * {
  font-size: 11pt;
}

.messages.size4 .variable-font-size, .messages.size4 .variable-font-size * {
  font-size: 13.5pt;
}

.messages.size4 pre.hljs, .messages.size4 code.variable-font-size, .messages.size4 .variable-font-size code, .messages.size4 code.variable-font-size * {
  font-size: 12.5pt;
}

.messages.size5 .variable-font-size, .messages.size5 .variable-font-size * {
  font-size: 15pt;
}

.messages.size5 pre.hljs, messages.size5 code.variable-font-size, .messages.size5 .variable-font-size code, .messages.size5 code.variable-font-size * {
  font-size: 14pt;
}

.message .body .text pre.hljs code.hljs {
  white-space: pre-wrap !important;
}

.message .body .text pre.hljs {
  overflow-x: auto;
  padding: 12px;
  padding-bottom: 16px;
  overflow: auto;
}

.message .actions {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message:hover {
  margin-bottom: 0px !important;
}

.message .action {
  cursor: pointer;
  color: var(--message-list-actions-text-color);
  font-size: 9pt;
}

.message .attachment, .message .image {
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
}

.message .attachment {
  max-width: 200px;
}

.message .attachment.icon {
  width: 32px !important;
  height: 32px !important;
}

.message .image-container {
  position: relative;
  width: 400px;
}

.message img {
  background-image: url(https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png);
}

.message .download {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.66);
  top: 24px;
  right: 12px;
  cursor: pointer;
  font-size: 10pt;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.message .image-container:hover .download {
  display: block;
}

.message.assistant .actions {
  position: relative;
  top: -16px;
}
