
.messages.conversation .message {
  flex-direction: column;
}

.messages.conversation .message .message-body {
  max-width: 66%;
  border-radius: 12px;
  padding: 0px 16px;
}

.messages.conversation .message .message-body:has(.edit-container) {
  padding: 1rem;
  padding-right: 2rem;
  width: 100%;
}

.messages.conversation .message .message-role {
  display: none;
}

.messages.conversation .message.user {
  align-items: flex-end;
}

.messages.conversation .message.user .message-body {
  background-color: #e8edf2;
  color: #27272a;
  padding: 12px;
  border-radius: 12px;
  max-width: 66%;
  font-size: 14px;
  line-height: 20px;
}

.messages.conversation .message.assistant .message-body {
  background-color: transparent;
  color: var(--text-color);
}

.messages.conversation .message .message-body .toggle-reasoning {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.messages.conversation .message .message-body:has(.media) {
  padding: 0px;
  background-color: transparent;
}

.message.assistant .message-actions {
  top: 0px;
}
