

.messages.openai .message {
  flex-direction: column;
}

.messages.openai .message .role {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messages.openai .message .role .avatar {
  flex: 0 0 32px;
  width: 16px;
  height: 16px;
  font-size: 14pt;
  object-fit: contain;
}

.messages.openai .message .role.user .avatar {
  filter: invert(55%) sepia(15%) saturate(864%) hue-rotate(189deg) brightness(88%) contrast(84%);
}

.messages.openai .message .role.assistant .avatar.openai {
  filter: invert(67%) sepia(23%) saturate(433%) hue-rotate(115deg) brightness(90%) contrast(86%);
}

.messages.openai .message .body {
  flex: 1;
}

.messages.openai .message .text p {
  margin-top: 8px;
}

.messages.openai .message .image-container {
  width: 400px;
}

.messages.openai pre.hljs {
  border-radius: 8px;
}

.messages.openai .message .actions {
  position: relative;
  top: -16px;
}
