

.messages.openai .message {
  flex-direction: column;
}

.messages.openai .message .message-role {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.messages.openai .message .message-role .avatar {
  flex: 0 0 32px;
  width: 16px;
  height: 16px;
  font-size: 18.5px;
  object-fit: contain;
}

.messages.openai .message .message-role.user .avatar {
  fill: var(--text-color);
}

.messages.openai .message .message-body {
  flex: 1;
}

.messages.openai .message .think {
  margin-left: 0.15rem;
  border-left: 1.5px solid var(--text-color);
  padding-left: 0.75rem;
}

.messages.openai .message .text p {
  margin-top: 8px;
}

.messages.openai .message .media-container {
  width: 400px;
}

.messages.openai pre.hljs {
  border-radius: 8px;
}

.messages.openai .message .message-actions {
  position: relative;
  top: -16px;
}
