
dialog {
  user-select: none;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 16px;
  padding: 0px;
  width: 500px;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12), 
    0 16px 16px rgba(0,0,0,0.12),
    0 24px 24px rgba(0,0,0,0.12);
}

dialog header {
  font-weight: bold;
  text-align: center;
  color: #474747;
  font-size: 10pt;
  padding: 8px;
  background-color: var(--dialog-header-bg-color);
  border-bottom: 0.5px solid var(--dialog-separator-color);
}

dialog main {
  padding: 24px;
  background-color: var(--dialog-body-bg-color);
}

dialog footer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dialog-body-bg-color);
  border-top: 0.5px solid var(--dialog-separator-color);
}

dialog footer button {
  margin: 0 8px;
}
