
:root {

  --highlight-color: #0366eb;

  --sidebar-width: 300px;
  --sidebar-bg-color: #e1e0df;
  --sidebar-selected-color: #c9c9c8;
  --sidebar-logo-size: 32px;

  --dialog-header-bg-color: #f2f3f3;
  --dialog-body-bg-color: #ececeb;
  --dialog-separator-color: #c6c6c5;

  --tabs-header-normal-color: #6d6c6b;
  --tabs-header-selected-color: var(--highlight-color);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* to display emojis on widows */
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  margin: auto;
  user-select: none;
  overflow: hidden;
}

code, pre, code * {
  font-family: Monaco,Andale Mono,Ubuntu Mono,monospace !important;
  font-size: 10pt;
}

a, a:visited, a:active, a:focus {
  color: #0000ee;
}

button {
  box-sizing: border-box;
  width: auto;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: .3rem;
  background-color: white;
  border: 1px solid #cacaca;
  box-shadow: 0px 2px 1.5px -2px rgba(0,0,0,.3);
  font-size: 9pt;
}

button:active {
  background-color: #f2f2f2;
}

button.default {
  border: none;
  background: linear-gradient(#2991FF, #057AFF);
  color: white;
}

button.default:active {
  background: linear-gradient(#2280e4, #0469dc);
  color: #e2e2e2;
}

/* button.destructive {
  background-color: #f37329;
  color: white;
} */
