
# .github/workflows/build-win32-x64.yml
name: Build Windows x64 Release
on:
  workflow_dispatch:
jobs:
  build-win32-x64:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: get-package-version
        id: package-version
        uses: beaconbrigade/package-json-version@v0.3.2
      - name: Install Dependencies
        run: npm ci
      - name: Setup DigiCert Code Signing Tools
        uses: digicert/ssm-code-signing@v1.0.0
      - name: Setup Certificate
        run: |
          echo "${{ secrets.SM_CLIENT_CERT_FILE_B64 }}" | base64 --decode > /d/Certificate_pkcs12.p12
        shell: bash
      - name: Set DigiCert Environment Variables
        run: |
          echo "SM_HOST=${{ secrets.SM_HOST }}" >> "$GITHUB_ENV"
          echo "SM_API_KEY=${{ secrets.SM_API_KEY }}" >> "$GITHUB_ENV"
          echo "SM_CLIENT_CERT_FILE=D:\\Certificate_pkcs12.p12" >> "$GITHUB_ENV"
          echo "SM_CLIENT_CERT_PASSWORD=${{ secrets.SM_CLIENT_CERT_PASSWORD }}" >> "$GITHUB_ENV"
          echo "SM_CODE_SIGNING_CERT_SHA1_HASH=${{ secrets.SM_CODE_SIGNING_CERT_SHA1_HASH }}" >> "$GITHUB_ENV"
        shell: bash
      - name: Sync Certificates
        run: smctl windows certsync
        shell: cmd
      - name: Build script
        run: ./build/build.ps1
        env:
          NODE_OPTIONS: --max_old_space_size=4096
      - name: List packages
        uses: mathiasvr/command-output@v2.0.0
        id: packagelist
        with:
          run: node ./build/list_packages.mjs
      - name: Publish Release
        run: gh release upload v${{ steps.package-version.outputs.version}} ${{ steps.packagelist.outputs.stdout }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  